body {
  font-family: sans-serif;
  padding: 3px;
  width: 280px;
}

#loop-controls {
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
  border: solid #999 1px;
}

#loop-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5px;

}

#loop-inputs label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 7px;
  padding: 5px 0;
  background-color: #dadada;
}
#loop-inputs label:hover {
  background-color: #b4b4b4;
}
#loop-inputs input {
  width: 60x;
  margin-left: 10px;
  text-align: right;
}

#loop-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  width: 100%;
}
.status-message {
  margin-top: 3px;
  font-weight: bold;
  font-size: 11px;
  text-align: right;
}

.status-message.success {
  color: green;
}

.status-message.error {
  color: red;
}
#loop-inputs p {
  margin-bottom: 4px;
}

#loop-inputs label {
  display: block;
  margin-bottom: 4px;
}
.loop-time {
  font-size: 13px;
  text-align: right;
  margin-top: 4px;
  color: #333;
}

